@model IEnumerable<ASP.Net_Intro.Entities.HotMeal>
<!DOCTYPE html>
<html>
<head>

</head>


<body>
	<h1 style="color:crimson">HotMeal @Model.Count()</h1>
	@foreach (var item in Model)
	{
		<h2>id ->@item.Id</h2>
		<h1 style="background-color:crimson ;color:white">Name -> @item.Name</h1>
		<h2>price ->@item.price $</h2>
	}

</body>


</html>