@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div style="font-size:inherit">
    <a href="/Home/Drinks">Go to Drink</a>
    <a href="/Home/FastFoods">Go to FastFood</a>
    <a href="/Home/HotMeals">Go to HotMeal</a>
</div>